<div class="login-page">
    <div class="form">
      <form class="register-form">
        <input type="text" placeholder="usuario"/>
        <input type="password" placeholder="contraseña"/>
        <input type="text" placeholder="correo"/>
        <button>Crear</button>
        <p class="message">¿Ya estas registrado? <a href="#">Iniciar Sesion</a></p>
      </form>
      <form class="login-form">
        <input type="text" placeholder="usuario"/>
        <input type="password" placeholder="contraseña"/>
        <button onclick="login()">Ingresar</button>
        <p class="message">¿No estas registrado? <a href="#">Crear una cuenta</a></p>
      </form>
    </div>
  </div>