<h3>Servicios semanales</h3>

<br>
    <div align="center" class='contenedor'>
        <div class="contenido">
           <div class="inner"><img class="circular--square" src="./assets/img/predica.jpg"/><br>
                <button class="button button3">Martes</button><br>
                <h5>horario:</h5>
                <p>Todos los martes 7:00 pm</p>
            </div>
           <div class="inner"><img class="circular--square" src="./assets/img/culto.jpg"/><br>
                <button class="button button3">Jueves</button><br>
                <h5>horario:</h5>
                <p>Todos los jueves 7:00 pm</p>
            </div>
           <div class="inner"><img class="circular--square" src="./assets/img/cultodominical.jpg"/><br>
                <button class="button button3">Domingo</button><br>
                <h5>horario:</h5>
                <p>Todos los domingos 11:00 am y 13:00 pm</p>
            </div>
         </div>
    </div>
    
    <!--<button class="button">Green</button>
    <button class="button button2">Blue</button>
    <button class="button button3">Red</button>
    <button class="button button4">Gray</button>
    <button class="button button5">Black</button>-->
  
    

"