<html>
  <head>
    <meta charset="utf-8">

    <title>Jubilo y Adoracion</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Sonsie+One" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="app.component.css">
    <script src="./assets/js/file.js">
      var time = new Date();
      console.log(time.getHours() + ":" + time.getMinutes() + ":" + time.getSeconds());
      </script>

  </head>

  <body>
    
    <!-- Aquí empieza el encabezado principal que se mantendrá en todas las páginas del sitio web -->

    <header>
      <div align="center">
        <img
        width="75"
        alt="Angular Logo"
        src="./assets/img/paloma.png"
      />
      </div><h1>Iglesia Cristiana Independiente Pentecostes Júbilo y Adoración A.R. ICIPAR</h1><hr width="300">
      
    </header>

    <nav>
      <ul>
        <!--<li><a href="#">Inicio</a></li>
        <li><a href="#">Contacto</a></li>
        <li><a href="#">Equipo</a></li>
        <li><a href="#">Dirección</a></li> -->
      </ul>
     </nav>

    <!-- Aquí está el contenido principal de nuestra página -->
    <main>

      
      <!-- Contiene un artículo -->
      <article>
        <div class="fecha">Bienvenido
        </div>

       

        <!--<h2>Título del artículo</h2>-->
        <router-outlet></router-outlet>
        

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Donec a diam lectus. Set sit amet ipsum mauris. Maecenas congue ligula as quam viverra nec consectetur ant hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur.</p>

        <h3>Subsección</h3>

        <p>Donec ut librero sed accu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor.</p>

        <p>Pelientesque auctor nisi id magna consequat sagittis. Curabitur dapibus, enim sit amet elit pharetra tincidunt feugiat nist imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros.</p>

        <h3>Otra subsección</h3>

        <p>Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum soclis natoque penatibus et manis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>

        <p>Vivamus fermentum semper porta. Nunc diam velit, adipscing ut tristique vitae sagittis vel odio. Maecenas convallis ullamcorper ultricied. Curabitur ornare, ligula semper consectetur sagittis, nisi diam iaculis velit, is fringille sem nunc vet mi.</p> -->
      </article>

      <!-- el contenido aparte también se puede anidar dentro del contenido principal -->
      <aside>
        <h4>Contenido</h4>

          <a class="nav-link" routerLink="/admin"><button class="buttonMenu" mat-raised-button color="accent" >Administración</button></a><br>
          <a routerLink="/cultos"><button class="buttonMenu" mat-raised-button color="accent">Servicios</button><br> 
          <button class="buttonMenu" mat-raised-button color="accent">Programas del mes</button></a><br>
          <button class="buttonMenu" mat-raised-button color="accent">Lista para predicar</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Lista para dirigir</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Lista aseo Iglesia</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Lista dominical</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Bautisos</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Sesiónes Liderazgo</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Culto varones</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Culto femenil</button><br>
          <button class="buttonMenu" mat-raised-button color="accent">Organigrama</button><br>
     
      </aside>

    </main>

    <!-- Y aquí está nuestro pie de página principal que se utiliza en todas las páginas de nuestro sitio web -->

    <footer>
      <h4>Contactanos tambien por Redes Sociales</h4>
      <img
          width="40"
          height="40"
          alt="Angular Logo"
          src="./assets/img/whatsap.png"
        />
        <img
          width="43"
          height="43"
          alt="Angular Logo"
          src="./assets/img/facebook.png"
        />
        <img
          width="40"
          height="40"
          alt="Angular Logo"
          src="./assets/img/instagram.png"
        /><br>
        Copyright © 2022 Júbilo y Adoración - Todos los derechos reservados.<br><br>
        Dirección:  Calle Llano Verde, Ref. Avenida Del Puerto, Calle Ignacio Allende, Calle José López Portillo
        CP. 56350 - Chimalhuacán, Chimalhuacán, Estado de México. Tel. (55)51117305<br><br>
    </footer>

  
  </body>
</html>