<html lang="es">
<head>
     
     <!-- Estilos CSS -->
     
</head>
<body>
   

    <ul class="galeria">
        <li><a href="home#img1"><img src="./assets/img/bautizo.jpg"></a> </li>
        <li><a href="home#img2"><img src="./assets/img/bautizo.jpg"></a> </li>
        <li><a href="home#img3"><img src="./assets/img/bautizo.jpg"></a> </li>
        <li><a href="home#img4"><img src="./assets/img/bautizo.jpg"></a> </li>
        <li><a href="home#img5"><img src="./assets/img/bautizo.jpg"></a> </li>
        <li><a href="home#img6"><img src="./assets/img/bautizo.jpg"></a> </li>
    </ul>

    <div class="modal" id="img1">
        <h3>Paisaje 1</h3>
        <div class="imagen">
            <a href="home#img6" ng-click="$event.preventDefault();logout()">&#60;</a>
            <a href="home#img2" ng-click="$event.preventDefault();logout()"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img2" ng-click="$event.preventDefault();logout()">></a>
        </div>
        <a class="cerrar" href="home" ng-click="$event.preventDefault();logout()">X</a>
    </div>

    <div class="modal" id="img2">
        <h3>Paisaje 2</h3>
        <div class="imagen">
            <a href="home#img1" ng-click="$event.preventDefault();logout()">&#60;</a>
            <a href="home#img3" ng-click="$event.preventDefault();logout()"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img3" ng-click="$event.preventDefault();logout()">></a>
        </div>
        <a class="cerrar" href="home">X</a>
    </div>

    <div class="modal" id="img3">
        <h3>Paisaje 3</h3>
        <div class="imagen">
            <a href="home#img2">&#60;</a>
            <a href="home#img4"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img4">></a>
        </div>
        <a class="cerrar" href="home">X</a>
    </div>

    <div class="modal" id="img4">
        <h3>Paisaje 4</h3>
        <div class="imagen">
            <a href="home#img3">&#60;</a>
            <a href="home#img5"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img5">></a>
        </div>
        <a class="cerrar" href="home">X</a>
    </div>

    <div class="modal" id="img5">
        <h3>Paisaje 5</h3>
        <div class="imagen">
            <a href="home#img4">&#60;</a>
            <a href="home#img6"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img6">></a>
        </div>
        <a class="cerrar" href="home">X</a>
    </div>

    <div class="modal" id="img6">
        <h3>Paisaje 6</h3>
        <div class="imagen">
            <a href="home#img5">&#60;</a>
            <a href="home#img1"><img src="./assets/img/bautizo.jpg"></a>
            <a href="home#img1">></a>
        </div>
        <a class="cerrar" href="home">X</a>
    </div>

    
               
     


</body>
</html>